// breakpoints.scss

@import 'bourbon';
@import 'neat';

// Fonts
$regular: 'Open Sans', Arial, sans-serif;

$font-size:					18;

// Colors

$white:							#fdfefe;
$black:							#242325;
$red:               #e41b35;
$dk-gray:           #798590;
$lt-gray:           #bdbdbd;
$dk-blue:           #0a314c;
$blue:              #a9e3f1;
$lt-blue:           #d2ecf3;

$bg-white:					rgba(255, 255, 255, 0.5);
$bg-black: 					rgba(0,0,0,0.5);


// Responsive

$tablet-width: 			1028px;
$sub-tablet-width:	930px;
$mobile-width: 			767px;
$sub-mobile-width: 	400px;
